@model SalesWebMvc.Models.ViewModels.SellerFormViewModel //falamos q a minha view temos a disposicao dela o Seller 

@using SalesWebMvc.Models;

@{ 
    ViewData["Title"] = "Create";

    //O nome da view deve ser igual ao metodo do SellersController
}

<h2>@ViewData["Title"]</h2>
<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--abaixo chamaremos o metodo create, mas do post e nao do get como no index no button
            Create New-->
        <form asp-action="Create">
            <div class="form-group">
                <!--usamos o asp-for para -->
                <label class="control-label"></label>
                <input @*asp-for="Seller.Name"*@ name="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="Seller.Email" name="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="Seller.BirthDate" name="BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="Seller.BaseSalary" name="BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <!--select list recebe tres argumentos, fonte de dados, qual attr desse objeto vai ser a chave, qual attr vai aparecer na caixinha de selecao-->
                <select name="DepartmentId" asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id", "Name"))" class="form-control" ></select>
                @*<select asp-for="Seller.DepartmentId" name="Department">
                    @foreach (Department d in Model.Departments)
                    {
                        <option value="@d.Id" name="@d">@d.Name</option>
                    }
                </select>*@

            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-default">Create</button>
            </div>
        </form>
    </div>
</div>
