@model SalesWebMvc.Models.Seller
@{
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <!--lista os campos dos objetos-->
        <dt>
            <!--nome do campo-->
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            <!--valor do campo-->
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <!--nome do campo-->
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            <!--valor do campo-->
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            <!--nome do campo-->
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            <!--valor do campo-->
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            <!--nome do campo-->
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd>
            <!--valor do campo-->
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" name="Id"/> <!--aqui eh onde sera passado o id do seller que sera deletado-->
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="Index">Back To List</a>
    </form>
</div>
