@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>
<h4>Seller</h4>
<hr />

<div>
    <dl class="dl-horizontal">
        <!--lista os campos dos objetos-->
        <dt>
            <!--nome do campo-->
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            <!--valor do campo-->
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <!--nome do campo-->
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            <!--valor do campo-->
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            <!--nome do campo-->
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            <!--valor do campo-->
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            <!--nome do campo-->
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd>
            <!--valor do campo-->
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt>
            <!--nome do campo-->
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            <!--valor do campo-->
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Index">Back To List</a>
</div>
